body {
    background-color: #185e1e;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: inline;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #64A712;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}